.featuresSection {
  text-align: center;
  padding: 40px 20px;
  background-color: white; 
  padding: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #260d5e; /* Dark Purple */
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #6c757d;
}

.separator {
  width: 50px;
  height: 3px;
  background-color: rgb(247, 68, 61); /* Red */
  margin: 0 auto 40px;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.featureItem {
  background: #fee5a2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featureItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 3rem;
  margin-bottom: 15px;
  color: rgb(247, 68, 61); /* Red */
}

h2 {
  font-size: 1.5rem;
  color: #260d5e; /* Dark Purple */
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #6c757d;
}

/* Responsive styles */
@media (max-width: 992px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .icon {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .featuresGrid {
    grid-template-columns: 1fr;
  }
}
